/* * {
  box-sizing: border-box;
} */
/* 
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(232, 221, 203, 1) 0%,
    rgba(252, 235, 181, 1) 100%
  );
} */

.admin-container {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(232, 221, 203, 1) 0%,
    rgba(252, 235, 181, 1) 100%
  );
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  border: none;
  padding: 20px;
  /* From https://css.glass */
  background: rgba(208, 204, 204, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(208, 204, 204, 0.75);
  font-size: 30px;
  font-weight: bolder;
}
