.signup-form {
  text-align: center;
  width: 500px;
  padding: 25px;
  /* From https://css.glass */
  background: rgba(208, 204, 204, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(208, 204, 204, 0.75);
}

.signup-form-container {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
