.form-container {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(232, 221, 203, 1) 0%,
    rgba(252, 235, 181, 1) 100%
  );
}

input {
  display: block;
}

.form--submit {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 1.25rem;
  font-weight: bolder;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.form--checkbox {
  display: inline;
  margin-left: 20px;
}

.form--textarea {
  height: 100px;
  width: 275px;
}

.form--textarea,
.form--checkbox,
.form--input {
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 10px;
}

.form {
  width: 500px;
  padding: 25px;
  /* From https://css.glass */
  background: rgba(208, 204, 204, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(208, 204, 204, 0.75);
}

.multi-checkbox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mutli-checkbox > input {
  display: inline;
  margin-left: 10px;
}
