
.counsellor-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 10px;
}
