.results-container {
  position: absolute;
  top: 65px;
  width: 100%;
  z-index: 999;
}
.results-list {
  width: 300px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 20px;
  max-height: 300px;
  overflow-y: scroll;
}
.result-item {
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.result-item:hover {
  background-color: lightblue;
}
.results-list::-webkit-scrollbar {
  width: 0;
}
.results-list::-webkit-scrollbar-track {
  background: transparent;
}
.results-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
